<div>
  <h2><b>Customer Overview</b></h2>
  <p>
    <button type="button" class="btn btn-primary" (click)="addCustomer()"> <b>Add New Customer</b></button>
  </p>
  <div class="row">
   <div class="col-md-10">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" (click)="sort('FirstName')">
             <span   class="glyphicon glyphicon-arrow-up"></span>First Name</th>
            <th scope="col" (click)="sort('LastName')">
             <span  class="glyphicon glyphicon-arrow-down"></span>Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Customer of Customers">
            <td>{{Customer.FirstName}}</td>
            <td>{{Customer.LastName}}</td>
            <td>{{Customer.Birthday}}</td>
            <td>{{Customer.Gender}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editCustomer(Customer)">Edit</button>
              <button type="button" class="btn btn-primary"(click)="removeCustomer($index,Customer)">Delete</button>
              <button type="button" class="btn btn-success" (click)="gotonavigations(Customer)">Navi</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div> 